@media (max-width: 1110px) {
    .container {
        width: 100%;
        padding-right: 39px;
        padding-left: 39px;
        margin-right: auto;
        margin-left: auto;
    }

    .header__container {
        padding-right: 44px;
    }

    .hero__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    .hero__right {
        z-index: 1;
        background-image: url(../img/hero-bg-768.svg);
        background-repeat: no-repeat;
        background-size: 326px 350px;
        background-position-x: 20px;
        background-position-y: 118px;
    }

    .hero__descr {
        margin-bottom: 66px;
    }

    /*advantages*/

    .advantages {
        margin-bottom: 75px;
    }

    .advantages__img {
        width: 211px;
    }

    .advantages__title {
        padding-right: 0;
    }

    .advantages__descr {
        letter-spacing: 0.27px;
        padding-right: 0;
    }

    .advantages__item {
        display: block;
    }

    .advantages__svg {
        margin: 0;
        margin-bottom: 8px;
    }

    .advantages__item-descr {
        letter-spacing: -0.3px;
    }

    /*teachers*/

    .teachers {
        padding-top: 73px;
        padding-bottom: 50px;
        margin-bottom: 73px;
    }

    .teachers__list {
        flex-wrap: wrap;
    }

    .teachers__item {
        margin-bottom: 23px;
    }

    .teachers__img {
        width: 100%;
    }

    .courses__item-text {
        min-height: 377px;
    }

    .courses__item-btn {
        padding: 20px 48px;
    }

    .courses {
        margin-bottom: 48px;
    }

    .first-course {
        background-image: url(../img/course-1-768.jpg);
    }

    .second-course {
        background-image: url(../img/course-2-768.jpg);
    }

    .third-course {
        background-image: url(../img/course-3-768.jpg);
    }

    .fourth-course {
        background-image: url(../img/course-4-768.jpg);
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-right: 33px;
        padding-left: 33px;
        margin-right: auto;
        margin-left: auto;
    }

    .header__container {
        flex-direction: column;
    }

    .header__logo {
        margin-right: 0;
        margin-bottom: 34px;
    }

    .hero {
        height: 566px;
    }

    .hero__content {
        padding: 77px 0;
    }

    .hero__descr {
        padding-right: 48px;
        margin-bottom: 66px;
    }

    .advantages__img {
        padding-top: 0;
    }

    .advantages {
        margin-bottom: 55px;
    }

    .first-course {
        background-image: url(../img/course-1-576.jpg);
    }

    .second-course {
        background-image: url(../img/course-2-576.jpg);
    }

    .third-course {
        background-image: url(../img/course-3-576.jpg);
    }

    .fourth-course {
        background-image: url(../img/course-4-576.jpg);
    }

    .courses__item-btn {
        padding: 20px 41px;
    }

    .courses__item-text {
        min-height: 474px;
        padding: 28px 22px 30px 30px;
    }

    .courses__item-title {
        margin-bottom: 12px;
        line-height: 131%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .header__container {
        padding-top: 32px;
        padding-bottom: 32px;
        flex-direction: row;
    }

    .header__logo {
        width: 72px;
        height: 16px;
        margin-bottom: 0;
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        min-width: 250px;
        height: 100vh;
        z-index: 1000;
        padding: 50px;
        box-shadow: 0 0 5px #888;
        background-color: #3F2AFF;
        opacity: 0.9;
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-120%);
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .header__nav .nav__list {
        flex-direction: column;
    }

    .header__nav .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__nav .nav__item-link {
        font-size: 18px;
    }

    .header__nav--active {
        visibility: visible;
        transform: none;
    }

    .burger {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 13px;
        border-radius: 3px;
        color: #fff;
    }

    .stop-scroll {
        overflow: hidden;
    }

    .burger--active .burger__line:nth-child(2) {
        opacity: 0;
    }
    
    .burger--active .burger__line:nth-child(1) {
        top: 50%;
        left: 25%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    
    .burger--active .burger__line:nth-child(3) {
        bottom: auto;
        top: 50%;
        left: 25%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 2px;
        background-color: currentColor;
    }

    .burger__line:nth-child(1) {
        top: 13px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .burger__line:nth-child(3) {
        bottom: 13px;
    }

    .section-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
    }

    .hero {
        height: 353px;
        margin-bottom: 50px;
    }

    .hero__content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero__title {
        letter-spacing: -0.9px;
        font-size: 30px;
        line-height: 100%;
        color: #FFFFFF;
        margin-bottom: 6px;
    }

    .hero__descr {
        margin-bottom: 43px;
        padding-right: 0;
        font-size: 16px;
        line-height: 130%;
    }

    .hero__btn {
        padding: 21px 51px;
        font-size: 16px;
        line-height: 19px;
    }

    .advantages {
        margin-bottom: 20px;
    }

    .advantages__title {
        letter-spacing: -0.4px;
        margin-bottom: 1px;
    }
    
    .advantages__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .advantages__item {
        display: flex;
        width: 100%;
    }

    .advantages__item-descr {
        padding-bottom: 30px;
    }

    .advantages__top {
        margin-bottom: 23px;
    }

    .advantages__img {
        display: none;
    }

    .advantages__svg {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .teachers {
        padding-top: 44px;
        padding-bottom: 26px;
        margin-bottom: 43px;
    }

    .teachers__title {
        letter-spacing: -0.6px;
    }

    .teachers__descr {
        letter-spacing: 0.2px;
    }

    .teachers__img {
        margin-bottom: 26px;
    }

    .teachers__name {
        letter-spacing: -0.3px;
    }

    .courses__list {
        display: flex;
        max-width: 100%;
    }

    .courses__item {
        max-width: 100%;
    }

    .courses__img {
        min-width: 290px;
    }
    
    .first-course {
        background-image: url(../img/course-1-320.jpg);
    }

    .second-course {
        background-image: url(../img/course-2-320.jpg);
    }

    .third-course {
        background-image: url(../img/course-3-320.jpg);
    }

    .fourth-course {
        background-image: url(../img/course-4-320.jpg);
    }

    .courses__item-text {
        height: 473px;
        padding: 31px 32px 30px 30px;
    }

    .courses__item-btn {
        letter-spacing: -2px;
        padding: 20px 56px;
        left: 31px;
        bottom: 31px;
    }

    .courses__item-title br {
        display: block;
    }

    .courses__item-title {
        margin-bottom: 8px;
    }

    .courses__item-descr {
        letter-spacing: 0.4px;
    }

    .courses {
        margin-bottom: 19px;
    }

    .list-item {
        margin-bottom: 29px;
    }

    .footer-descr {
        padding-top: 3px;
    }
}